In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import os

#import torch
# import torch.nn as nn

#torch.seed(42)

In [27]:
datafolder = "./data/"
merge_df = pd.DataFrame()
for i, file in enumerate(os.listdir(datafolder)):
    if i == 0:
        merge_df = pd.read_csv(datafolder + file)
        print(type(merge_df))
    else:
        df = pd.read_csv(datafolder + file)
        merge_df = pd.merge(merge_df, df, on="month")

merge_df["month_num"] = merge_df["month"].apply(lambda x: x.split("-")[1])

merge_df

<class 'pandas.core.frame.DataFrame'>

,month,maximum_rainfall_in_a_day,no_of_rainy_days,total_rainfall,rh_extremes_minimum,mean_rh,mean_sunshine_hrs,mean_temp,temp_mean_daily_max,temp_mean_daily_min,month_num
0,1982-01,36.5,10,107.1,49,81.2,5.6,25.9,29.8,23.3,01
1,1982-02,9.4,5,27.8,49,79.5,7.6,27.1,32.3,23.9,02
2,1982-03,61.7,11,160.8,51,82.3,5.1,27.2,31.7,24.3,03
3,1982-04,45.1,14,157.0,54,85.9,4.7,27.0,31.4,24.3,04
4,1982-05,33.0,10,102.2,57,83.2,5.8,28.0,31.7,25.2,05
...,...,...,...,...,...,...,...,...,...,...,...
513,2024-10,66.0,15,147.6,41,78.9,5.0,28.5,32.1,25.8,10
514,2024-11,71.2,24,407.4,53,84.5,4.3,27.4,31.6,25.0,11
515,2024-12,76.8,23,234.4,41,80.7,4.6,27.7,31.7,25.3,12
516,2025-01,157.0,18,480.2,54,83.4,3.6,26.5,29.5,24.6,01
517,2025-02,34.4,7,73.8,51,78.9,7.0,27.3,31.2,24.9,02